.filterLayout {
  background-color: #f9f9f9;
  border: 1px solid rgb(219, 219, 219);
  height: 250px;
  padding: 20px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filtersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  position: relative;
}

.statusDropdown {
  flex-basis: 100%;
}

.buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.searchButton {
  background-color: #545454;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.searchButton:hover {
  background-color: #2a2a2a !important;
}

.resetButton {
  background-color: #fcfbfb;
  color: #ac9e9e;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.resetButton:hover {
  background-color: #ff0000 !important;
  border: none;
}
