.filterLayout {
  background-color: #F9F9F9;
  border: 1px solid rgb(219, 219, 219);
  height: 300px;
  padding: 20px 40px;

}

.filtersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  gap: 40px;
  position: relative;
}

.orderCodeSearchInput {
  position: relative;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.input {
  height: 50px;
  padding-left: 20px;
  width: 500px;
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219)
}

.searchIcon {
  position: absolute;
  right: 5px;
}

.checkboxFilters {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
}

.checkbox {
  position: relative;
  height: 50px;
  width: 150px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.info {
  position: absolute;
  top: 0px;
  right: 0px;
}

.buttons {
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.searchButton {
  background-color: #545454;
  box-shadow: 5px 5px 5px #dadada;
}

.resetButton {
  background-color: #FCFBFB;
  color: #AC9E9E;
  border: 1px solid #DBDBDB;
}
