.card {
  background-color: #e6e6e6;
  padding: 10px;
  min-width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: background-color 0.5s ease;
}

.card:hover {
  opacity: 0.7;
  cursor: pointer;
}

.title {
  color: #6e6e6e;
  text-align: center;
  font-weight: 500;
}

.value {
  color: #2e2e2e;
  text-align: center;
  font-size: 3rem;
  opacity: 80%;
  font-weight: 500;
}
