.orderListSection {
  position: relative;
  border-bottom: 1px solid lightgray;
}

.emptyOrderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 20px;
}

.disableIcon {
    opacity: 0.4;
    cursor: none;
}

.tableCellWhite {
    background: white;
    border-bottom: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.errorSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}
