/* card section */

.summarizedSection {
    display: flex;
}

.cardSection {
    display: flex;
    align-items: center;
    margin: 24px 10px;
    width: 100%;
}

.cardContainer {
    border: 1px solid lightgrey;
    padding: 20px 20px 10px 20px;
    min-width: 220px;
    height: 100%;
    margin-right: 20px;
    border-radius: 5%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 10px;
}

.cardDataSet {
    display: flex;
    margin: 0;
    align-items: baseline;
}

.cardLabel {
    opacity: 0.4;
}

/* filter menu */

.filterSection {
    padding: 15px 30px;
}

/* empty order list */

.emptyOrderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

.titleSection {
    border-bottom: 1px solid lightgray;
    padding-left: 20px;
}

.informationSection {
    display: flex;
    align-items: center;
}

.orderListSection {
    /* this is subject to change */
    height: 700px;       
    overflow-y: scroll;   
}
